/* #region Common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: white;

}

/* #endregion Common */



/* #region Utility */
.container {
  width: 70%;
  max-width: 1176px;
  margin: auto
}

.container-sm {
  width: 60%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}



.row {
  display: flex;
  flex: wrap;
  gap: 1rem
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-9 {
  width: calc(100% / 12 * 9);
}


.d-flex {
  display: flex;
  
}

.bg_secondary {
  background-color: lightgray;
}

.py_2 {
  padding: 2rem 0;
}

.space-between {
  justify-content: space-between;
}

.round_bt{
    border-radius: 20px;
    padding: 10px;    
    border: none;
    font-size: large;
    align-self: center;    
}

.white_bt{
    background-color: white;
    color: black;
}

.black_bt{
    background-color: black;
    color: white;
}

/* #endregion Utility */
/* #region Debug */

.debug>header,
.debug>footer {
  height: 550px;
  background-color: red;
}

.debug nav {
  /* background-color: aqua; */
  height: 80px;
}





.debug [class^="col"] {
  height: 300px;
  background-color: rgb(0, 183, 255);
}

.debug .contents {
  height: 400px;
  background-color: green;
}

/* #endregion Debug */

/* #region Header */

header .logo{
  flex-grow: 1;
  display: flex;

}

nav{
    padding: 20px;
}

header .login{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.head_title{
    margin: 10rem;
}

.logo_img{
   align-self: flex-start;
   align-self: center;
   margin-left: 20px;
}


header .menu {
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header{
    background-image:url("/assets/img/jumbo.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


/* #endregion Header */
/* #region Main */

main section {
  padding: 2rem 0;
}

/* #endregion Main */
/* #region Footer */

footer .footer_bottom {
  padding: 1rem 0;
}

/* #endregion Footer */